<!DOCTYPE html>
<html ng-app="OLMPC">
  <head>
    <meta charset="utf-8">
    <title>mango</title>

  </head>
  <body>
    <h1>About this App:</h1>

    <p>Disclaimer: This app was originally published at the New York Times, <a href="http://www.nytimes.com/interactive/2016/08/18/sports/olympics/olympic-races-near-you.html?_r=0"> here.</a> <br>
      <br>
      This local version is an attempt to recreate the app for educational purposes.
<br><br><br>
      <a href="#/home">Home</a>
      <a href="#/about">About</a>

      <button ng-click="result()">Show me a race result</button>

  </body>
</html>
